<div class = 'member'>
  <div class = 'member__bio'>
    <div>
      <img class = 'member__pic' src = '{{ contributor.image }}'>
    </div>
    <ul>
      <li><a class = 'member__name' href = '{{ contributor.website }}' target = '_blank' rel = 'noopener'>{{
        contributor.name}}</a>
      <li>
      <li>
        {% if contributor.twitter != null %}
        <a class = 'member__handle' href = 'http://twitter.com/{{ contributor.twitter }}' target = '_blank' rel = 'noopener'>@{{contributor.twitter}}</a>
        {% else %}
        &nbsp;
        {% endif %}
      <li>
      <li>
        <p class = 'member__location'>{{ contributor.location }}</p>
      </li>
    </ul>
  </div>
  <p class = 'member__description'>
    {{contributor.content  | remove: '<p>' | remove: '</p>'}}
  </p>
</div>
