<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit two-fifths center-on-mobiles">
      <h1>
        <a href="/" class="align-center" style="vertical-align: center;">
          <span class="sr-only">Watir Project</span>
          <img src="/images/Watir.gif" width="110" height="103" alt="Watir">
        </a>
        <a href="/" class="align-center" style="font-size: 76px; vertical-align: top;">Watir</a>

      </h1>
    </div>
    <nav class="main-nav unit three-fifths hide-on-mobiles pull-right">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
