<div class = 'intro'>
  <div class = 'container grid grid-2'>
    <div>
      <p>An open source Ruby library for automating tests. Watir interacts with a
      browser the same way people do: clicking links, filling out forms and validating
      text.</p>

      <ul>
      <li>Read our <a href = 'http://www.rubydoc.info/gems/watir/'>documentation</a> to get started</li>
      <li>See what <a href = '/users'>companies are using Watir</a></li>
      <li>Read the  <a href = '/watir-6-faq/'>Watir 6.0 FAQ</a></li></ul>
    </div>
    <div class = 'demo'>
      <pre>{% include demo.html %}</pre>
    </div>
  </div>
</div>