<div class = 'intro'>
  <div class = 'container grid grid-2'>
    <div>
      <h2>Watir is...</h2>
      <span>An open source Ruby library for automating tests. Watir interacts with a
      browser the same way people do: clicking links, filling out forms and validating
      text.</span>
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/guides/#getting-started">Get Started Now...</a>
    </div>
    <div class = 'demo'>
      <pre>{% include demo.html %}</pre>
    </div>
  </div>
</div>