<h4>Getting Started</h4>
<ul>
  <li><a href="/guides/ruby">Installing Ruby</a></li>
  <li><a href="/guides/installation">Installing Watir</a></li>
  <li><a href="/guides/overview">Automation Pipeline</a></li>
  <li><a href="/guides/drivers">Installing Drivers</a></li>
  <li><a href="/guides/session">Starting a Session</a></li>
</ul>

<h4>Supported Browsers</h4>
<ul>
  <li><a href="/guides/chrome">Chrome</a></li>
  <li><a href="/guides/firefox">Firefox</a></li>
  <li><a href="/guides/ie">Internet Explorer</a></li>
  <li><a href="/guides/safari">Safari</a></li>
  <li><a href="/guides/edge">Edge</a></li>
</ul>

<h4>Working with Elements</h4>
<ul>
  <li><a href="/guides/elements">Supported Elements</a></li>
  <li><a href="/guides/locating">Locating elements</a></li>
  <li><a href="/guides/buttons">Buttons</a></li>
  <li><a href="/guides/checkboxes">Check Boxes</a></li>
  <li><a href="/guides/dropdowns">Dropdowns</a></li>
  <li><a href="/guides/frames">Frames</a></li>
  <li><a href="/guides/links">Links</a></li>
  <li><a href="/guides/radios">Radio Buttons</a></li>
  <li><a href="/guides/text_inputs">Text Inputs</a></li>
</ul>

<h4>Advanced Interactions</h4>
<ul>
  <li><a href="/guides/waiting">Automatic Waits</a></li>
  <li><a href="/guides/headless">Headless</a></li>
  <li><a href="/guides/mobile">Mobile Testing</a></li>
  <li><a href="/guides/authentication">Basic Authentication</a></li>
  <li><a href="/guides/certificates">Browser Certificates</a></li>
  <li><a href="/guides/downloads">Downloads</a></li>
  <li><a href="/guides/windows">Browser Windows</a></li>
  <li><a href="/guides/proxies">Proxies</a></li>
  <li><a href="/guides/cookies">Cookies</a></li>
  <li><a href="/guides/alerts">Alerts</a></li>
  <li><a href="/guides/performance">Measuring Performance</a></li>
  <li><a href="/guides/page-objects">Page Objects</a></li>
  <li><a href="/guides/screenshots">Screenshots</a></li>
  <li><a href="/guides/special-keys">Special Keys</a></li>
  <li><a href="/guides/wysiwyg">WYSIWYG Editors</a></li>
</ul>
