<h4>Watir Ecosystem</h4>
<ul>
  <li><a href="https://github.com/watir/nerodia/">Nerodia (Python Port!)</a></li>
  <li><a href="/add-ons/#integrations">Integrations (Rails, RSpec)</a></li>
  <li><a href="/add-ons/#page-object-frameworks">Page Object Frameworks</a></li>
  <li><a href="/add-ons/#other-libraries">Other Libraries</a></li>
</ul>

<h4>Getting Started</h4>
  <ul>
    <li><a href="/guides/">Watir Guides</a></li>
    <li><a href="http://www.rubydoc.info/gems/watir/">Watir Documentation</a></li>
    <li><a href="/watir-6-faq/">Watir 6 FAQ</a></li>
    <li>Watir Tutorial (Coming soon)</li>
  </ul>

<h4>Community Support</h4>
<ul>
  <li style="display: none"><a href="">Donations</a></li>
  <li style="display: none"><a href="">Sponsors</a></li>
  <li><a href="/users/">Companies Using Watir</a></li>
</ul>

<h4>Additional Resources</h4>
<ul>
  <li><a href="/podcasts/">The Watir Podcast</a></li>
  <li><a href="/blog-list/">Blogs</a></li>
  <li><a href="/books/">Books</a></li>
</ul>
