<h4>Getting Started</h4>
  <ul>
    <li><a href="/guides/">Watir Guides</a></li>
    <li><a href="http://www.rubydoc.info/gems/watir/">Watir Documentation</a></li>
    <li><a href="/watir-6-faq/">Watir 6 FAQ</a></li>
    <li>Watir Tutorial (Coming soon)</li>
  </ul>
<br />
<h4 style="display: none"><a href="">Donations</a></h4>
<h4 style="display: none"><a href="">Sponsors</a></h4>
<h4><a href="/users/">Companies Using Watir</a></h4>
<br />
<h4><a href="https://soundcloud.com/the-watir-podcast/">The Watir Podcast</a></h4>
<br />
<h4>Blogs</h4>
  <p>Resources with Watir, Ruby or otherwise useful content:</p>
<ul>
  {% for blog in site.data.blogs %}
  <li ><a href = '{{ blog.link }}' target='_blank' rel = 'noopener'>{{ blog.description }}</a></li>
  {% endfor %}
</ul>
