*,
*:before,
*:after{
  box-sizing: border-box;
}
html {
  font-size: 100%;
  height: 100%;
  width: 100%;
}

body {
	background: $white;
  font-size: 16px;
  font-family: $body_font;
  color: $darkGray;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
header{
  box-shadow: 0 10px 60px 0 rgba(158,174,221,0.2);
}
main{
  margin: 50px auto !important;
}
article {
  max-width: 667px;
}
aside{
  padding-top: 5px;
}
.container {
  margin: 0 auto;
  max-width: 1064px;
  padding: 0 25px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header_font;
  color: #51b1ee;
  font-weight: bold;
  line-height: 1.7;
  padding: 0;
}
ul{
  padding: 0 0 0 15px;
  margin: 0;
}
h1 {
  font-size: 2.25rem;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.36rem;
}

h4 {
  font-size: 1.25rem;
  color: $gray;
}

p {
  padding: 12.5px 0;
  font-size: 1rem;
}

a {
  color: #5aa7d7;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #58beff;
  }
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
  padding-left: 0; 
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

header {
  h1,
  nav { display: inline-block; }
}

.intro {
  position: relative;
  padding: 30px 0 0;
  border-style: solid;
  border: 2px;
  border-color: black;
  background: rgba(158,174,221,0.2);
  ul{
    list-style-type: square;
    padding-left: 20px;
  }
  li {
    font-size: 18px;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}
.demo {
  font-size: 12px;
  text-align: left;
  vertical-align: center;
  @media screen and (min-width: 768px) {
    padding-left: 25px;
  }
}
