pre {
  overflow-x: scroll;
  font-size: 13px;
  line-height: 1.25em;
}
pre code {
  white-space: pre;
}

.highlight {
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
  margin: 10px 0 10px 0;
  background: $white;
  &,
  &-rouge{
    border: 1px solid transparent;
    padding: 10px;
    .highlight{
      padding: 0;
      margin: 0;
    }
  }
  .highlight{
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}

.highlighter-rouge {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 14px;
    line-height: 16px;
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}
.highlight .c { color: #586E75 } // Comment
.highlight .err { color: #93A1A1 } // Error
.highlight .g { color: #93A1A1 } // Generic
.highlight .k { color: #859900 } // Keyword
.highlight .l { color: #93A1A1 } // Liteal 
.highlight .n { color: #0316a1 } // Name
.highlight .o { color: #859900 } // Operaor 
.highlight .x { color: #CB4B16 } // Other
.highlight .p { color: #93A1A1 } // Punctuation
.highlight .cm { color: #586E75 } // Comment.Multilie 
.highlight .cp { color: #859900 } // Comment.Prepro 
.highlight .c1 { color: #586E75 } // Comment.Single
.highlight .cs { color: #859900 } // Comment.Special
.highlight .gd { color: #2AA198 } // Generic.Deleted
.highlight .ge { color: #93A1A1; font-style: itali } // Generic.Emph 
.highlight .gr { color: #DC322F } // Generic.Error
.highlight .gh { color: #CB4B16 } // Generic.Heading
.highlight .gi { color: #859900 } // Generic.Insertd 
.highlight .go { color: #93A1A1 } // Generic.Output
.highlight .gp { color: #93A1A1 } // Generic.Prompt
.highlight .gs { color: #93A1A1; font-weight: bold } //Generic.Strong 
.highlight .gu { color: #CB4B16 } // Generic.Subheadin 
.highlight .gt { color: #93A1A1 } // Generic.Tracebac 
.highlight .kc { color: #CB4B16 } // Keyword.Constant
.highlight .kd { color: #268BD2 } // Keyword.Declaratin 
.highlight .kn { color: #859900 } // Keyword.Namespce 
.highlight .kp { color: #859900 } // Keyword.Pseudo
.highlight .kr { color: #268BD2 } // Keyword.Reseved 
.highlight .kt { color: #DC322F } // Keyword.Type
.highlight .ld { color: #93A1A1 } // Literal.Date
.highlight .m { color: #2AA198 } // Literal.Number
.highlight .s { color: #2AA198 } // Literal.String
.highlight .na { color: #93A1A1 } // Name.Attribue 
.highlight .nb { color: #B58900 } // Name.Builtn 
.highlight .nc { color: #268BD2 } // Name.Class
.highlight .no { color: #CB4B16 } // Name.Constant
.highlight .nd { color: #268BD2 } // Name.Decoraor 
.highlight .ni { color: #CB4B16 } // Name.Entity
.highlight .ne { color: #CB4B16 } // Name.Exceptio 
.highlight .nf { color: #268BD2 } // Name.Functon 
.highlight .nl { color: #93A1A1 } // Name.Label
.highlight .nn { color: #93A1A1 } // Name.Naespace 
.highlight .nx { color: #555 } // Name.Other
.highlight .py { color: #93A1A1 } // Name.Proerty 
.highlight .nt { color: #268BD2 } // Name.Tag
.highlight .nv { color: #268BD2 } // Name.Variable
.highlight .ow { color: #859900 } // Operator.Word
.highlight .w { color: #93A1A1 } // Text.Whitespace
.highlight .mf { color: #2AA198 } // Literal.Number.Flot 
.highlight .mh { color: #2AA198 } // Literal.Number.Hex
.highlight .mi { color: #2AA198 } // Literal.Number.Intger 
.highlight .mo { color: #2AA198 } // Literal.Number.Oct
.highlight .sb { color: #586E75 } // Literal.String.Backick 
.highlight .sc { color: #2AA198 } // Literal.String.Cha 
.highlight .sd { color: #93A1A1 } // Literal.String.Doc
.highlight .s2 { color: #2AA198 } // Literal.String.Double
.highlight .se { color: #CB4B16 } // Literal.String.Escape
.highlight .sh { color: #93A1A1 } // Literal.String.Heredoc
.highlight .si { color: #2AA198 } // Literal.String.Interol 
.highlight .sx { color: #2AA198 } // Literal.String.Other
.highlight .sr { color: #DC322F } // Literal.String.Regex
.highlight .s1 { color: #2AA198 } // Literal.String.Single
.highlight .ss { color: #2AA198 } // Literal.String.Symbl 
.highlight .bp { color: #268BD2 } // Name.Builtin.Pseudo
.highlight .vc { color: #268BD2 } // Name.Variable.Class
.highlight .vg { color: #268BD2 } // Name.Variable.Global
.highlight .vi { color: #268BD2 } // Name.Variable.Instance
.highlight .il { color: #2AA198 } // Literal.Number.Integer.Long 
