<div class = 'header'>
  <div class = 'logo'>
    <a href = '/'>
      <img src = 'https://raw.githubusercontent.com/watir/watir_logo/master/Logo/Watir_logo.png'/>
    </a>
    <!-- Hiding on mobile devices for now. -->
    <span  class = 'hide-on-mobiles tag-line'>Powered by Selenium</span>
    <span class = 'nav__toggle'><i class="fas fa-bars"></i></span>
  </div>
  <nav class = 'nav'>
  {%- for link in site.data.menu  -%}
  {%- assign nav = link | downcase | slugify | prepend: '/' | append: '/' -%}
    <a href = '{%- if forloop.first -%} /blog/ {%- else -%}{{ nav }}{%- endif -%}'
      {% if  nav == page.permalink  %} class = 'current'{% endif %}
      {% if page.type == 'post' and forloop.first %} class = 'current' {%endif %} 
    >
      
      {{ link | capitalize }}
    </a>
  {%- endfor -%}
  </nav>
</div>