---
layout: default
---

<article>
  <h3>
    <a href = '{{ post.url }}'>
      {{ page.title }}
    </a>
  </h3>
  <p class = 'blog__meta'>
    {% if page.author_url == null %}
      Written by: {{ page.author }}
    {% else %}
      Written by: <a href = '{{ page.author_url }}'> {{ page.author }}</a>
    {% endif %}
    on {{ page.date | date: '%B %e, %Y' }}
  </p>
  <div class = 'post-content'>
    <p>
    {{ page.content }}
    </p>
  </div>
  <div class = 'pager'>   
    <h4>Tags:</h4>
    {%- for tag in page.tags -%}
      <a href = '/tag/{{ tag | slugify | downcase }}/' class = 'more more--round'>{{ tag }}</a>
    {%- endfor -%}
  </div>
</article>
